/* body {

    background-color: #79b0df;

} */

.form-background {

    background-color: #29166f;
    border-radius: 20px;

}

.user-info-box {

    font-size: 20px;

}

select:disabled, input:disabled {

    background-color: #b1b3ad !important;

}

ul {
    list-style-type: none;
}

.invisible {
    display: none;
}

.form-header {
    color: white;
}